body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: white;
    width: 100%;
    height: 100vh;
}

.banner {
    display: flex;
    justify-content: space-between;
    background: #2b3dbd;
    color: white;
    margin: 20px;
    padding: 20px;
    border: 10px solid #f7c600;
    border-radius: 20px;
    align-items: center;
    height: 300px;
flex-wrap: wrap;
}

b {
    color: #f7c600;
    font-size: 70px;
    font-family: cursive;
}

.one {
    color: white;
    font-size: 50px;
    line-height: 1.5;
}

.two {
    color: #f7c600;

}

.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 30px;

}

.box1 {
    background: #2b3dbd;
    color: white;
    padding: 30px;
    border: 2px dashed white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box2 {
    background: #2b3dbd;
    color: white;
    padding: 30px;
    border: 2px dashed white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center
}

.shop {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: white;
    color: blue;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.material-icons {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer {
    color: #f7c600;
    display: flex;
    text-align: center;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.shop:hover {
    background: #f7c600;
    color: #2b3dbd;
}