body
        
        {
             background-image: url("https://i.pinimg.com/1200x/9d/a4/2b/9da42b4033328200ed3f3e737a542a5b.jpg");
             background-size: cover;
      background-position: fixed;
      background-repeat: no-repeat;
      height: 100vh;
      background-attachment: fixed;
        }     
        
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lexend', sans-serif;
            width: 100%;
           
                      
           
        }

        .heading {
            display: flex;
            align-items: center;
            gap: 20px;

        }

        .logo {
            display: flex;
            width: 100% gap: 10px;
            padding: 10px;
        }

        .menu {
            width: max-content;
            display: flex;
            align-items: center;
            margin: 10px;
        }

        .search {
            width: max-content;
            display: flex;
            align-items: center;
            padding: 14px;
            border-radius: 20px;
            background: #f6f6f6;

        }

        .search_input {
            font-size: 16px;
            font-family: 'Lexend', sans-serif;
            margin-left: 25px;
            border: none;
            background: transparent;
            outline: none;
            width: 200px;
            flex: 1;

        }

        .cards {
            display: flex;
            text-align: center;
            color: blue;
            justify-items: left;
            align-items: center;
            width: 100%;
            object-fit: cover;
        }

        .child-cards {
            flex: 1;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;


        }

        .material-icons {
            font-size: 25px;
            color: black;
        }